@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  display: inline-block;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  min-height: 200px;
  margin: 40px auto 40px auto;
}

.fz-10px {
  font-size: 10px;
}

.fz-12px {
  font-size: 12px;
}

.fz-14px {
  font-size: 14px;
}

.fz-16px {
  font-size: 16px;
}

.fz-18px {
  font-size: 18px;
}

.fz-20px {
  font-size: 20px;
}

.fz-22px {
  font-size: 22px;
}

.fz-60px {
  font-size: 60px;
}

.header_container {
  width: 100%;
  height: 140px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}
.header_container .header_left_wrapper {
  width: 15%;
}
.header_container .header_left_wrapper .logo_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container .header_right_wrapper {
  width: 15%;
}
.header_container .header_right_wrapper .nav_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container .header_center_wrapper {
  height: 100%;
  width: 70%;
}
.header_container .header_center_wrapper .header_items {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title_container {
  height: 200px;
}
.title_container .title_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.title_container .title_text_container h1 {
  font-size: 50px;
}

.item_container {
  width: 200px;
  height: 350px;
  border: solid 3px black;
}

.main_products_container {
  height: 500px;
}
.main_products_container .main_disc_container {
  margin-bottom: 30px;
}
.main_products_container .product_wrapper {
  display: flex;
}
.main_products_container .product_wrapper .item_wrapper .img_container {
  width: 100%;
  margin-bottom: 5px;
}
.main_products_container .product_wrapper .item_wrapper .img_container .img_product {
  width: 100%;
}

.footer_container {
  width: 100%;
  height: 300px;
  background: black;
  color: white;
}/*# sourceMappingURL=App.css.map */